* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  /* Your CSS below here */
article {
    background: url(../images/top-image.png) no-repeat left top;
    background: url(../images/top-image.png) no-repeat left top, 
                url(../images/bottom-image.png) no-repeat left bottom,
                linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.2));
    background-color: white;
    border-bottom: 1mm solid darkred;
    border-top: 1mm solid darkred;
}

h1 {
    background: url(../images/logo.png);
    /*filter: drop-shadow(2px 3px 4px #000);*/
    border-radius: 50%;
    box-shadow: 2px 3px 4px #000;
}